/CodigoFuente/rsFoodtrucks/rsFoodtrucks/bin
/CodigoFuente/rsFoodtrucks/rsFoodtrucks/obj
/CodigoFuente/rsFoodtrucks/.vs
/CodigoFuente/APIMdqDig/APIMdqDig/.vs
/CodigoFuente/APIMdqDig/APIMdqDig/.suo
/CodigoFuente/APIMdqDig/APIMdqDig/bin
/CodigoFuente/APIMdqDig/APIMdqDig/obj
.vs
bin
obj
/CodigoFuente/APIMdqDig/APIMdqDig/APIMdqDig/obj
Debug
foodtrucks_imagenes
